{% extends 'shard/base.html' %}
{% load thumbnail %}
{% load poll_extras %}
{% block contend %}
    <section class="">
        <section id="main-body-two-col" class="container-xxl body-container">
            <section class="row">
                <aside id="sidebar" class="sidebar col-md-3">
                    <section class="content-wrapper bg-white p-3 rounded-2 mb-3">
                        <!-- start sidebar nav-->
                        <section class="sidebar-nav">
                      
                            {% for category in categories %}
                            <section class="sidebar-nav-item">
                                <span class="sidebar-nav-item-title"><a href="{% url 'products_filter' cate_gory=category.url_name %}">{{ category.name }}</a>{% if category.subcategories %}<i class="fa fa-angle-left"></i>{% endif %} </span>
                                <section class="sidebar-nav-sub-wrapper">
                                {% if category.subcategories %}
                                    {% include 'subcategory_template.html' with subcate_gories=category.subcategories %}
                                {% endif %} 
                                   
                                    
                                  
                                  
                                </section>
                            </section>
                            {% endfor %}
                            
                        </section>
                        <!--end sidebar nav-->
                    </section>

                

                    <section class="content-wrapper bg-white p-3 rounded-2 mb-3">
                        <section class="content-header mb-3">
                            <section class="d-flex justify-content-between align-items-center">
                                <h2 class="content-header-title content-header-title-small">
                                    برند
                                </h2>
                                <section class="content-header-link">
                                    <!--<a href="#">مشاهده همه</a>-->
                                </section>
                            </section>
                        </section>

                        <section class="sidebar-brand-wrapper">
                            <form method="get">
                        	{{ form.brand_name}}
                        </form>
                            <button class="btn btn-danger" onclick="filters({{ form.data.brand_name }})">اعمال فیلتر</button>
                            <form method="get" id="formss">
                                <input type="hidden" name="page" id="pa_ge" value="{{ page_obj.number }}">
                                <input type="hidden" name="brand_name" id="brands" value="">
                            </form>
                  
                        </section>
                    </section>



                    <section class="content-wrapper bg-white p-3 rounded-2 mb-3">
                        <section class="content-header mb-3">
                            <section class="d-flex justify-content-between align-items-center">
                                <h2 class="content-header-title content-header-title-small">
                                    محدوده قیمت
                                </h2>
                                <section class="content-header-link">
                                    <!--<a href="#">مشاهده همه</a>-->
                                </section>
                            </section>
                        </section>
                        <section class="sidebar-price-range d-flex justify-content-between">
                            <section class="p-1"><input type="text" placeholder="قیمت از ..."></section>
                            <section class="p-1"><input type="text" placeholder="قیمت تا ..."></section>
                        </section>
                    </section>



                    <section class="content-wrapper bg-white p-3 rounded-2 mb-3">
                        <section class="sidebar-filter-btn d-grid gap-2">
                            <button class="btn btn-danger" >اعمال فیلتر</button>
                        </section>
                    </section>

                </aside>
                <main id="main-body" class="main-body col-md-9">
                    <section class="content-wrapper bg-white p-3 rounded-2 mb-2">
                        <section class="filters mb-3">
                            <span class="d-inline-block border p-1 rounded bg-light">نتیجه جستجو برای : <span class="badge bg-info text-dark">"کتاب اثر مرک"</span></span>
                            <span class="d-inline-block border p-1 rounded bg-light">برند : <span class="badge bg-info text-dark">"کتاب"</span></span>
                            <span class="d-inline-block border p-1 rounded bg-light">دسته : <span class="badge bg-info text-dark">"کتاب"</span></span>
                            <span class="d-inline-block border p-1 rounded bg-light">قیمت از : <span class="badge bg-info text-dark">25,000 تومان</span></span>
                            <span class="d-inline-block border p-1 rounded bg-light">قیمت تا : <span class="badge bg-info text-dark">360,000 تومان</span></span>

                        </section>
                        <section class="sort ">
                            <span>مرتب سازی بر اساس : </span>
                            <button class="btn btn-info btn-sm px-1 py-0" type="button">جدیدترین</button>
                            <button class="btn btn-light btn-sm px-1 py-0" type="button">محبوب ترین</button>
                            <button class="btn btn-light btn-sm px-1 py-0" type="button">گران ترین</button>
                            <button class="btn btn-light btn-sm px-1 py-0" type="button">ارزان ترین</button>
                            <button class="btn btn-light btn-sm px-1 py-0" type="button">پربازدیدترین</button>
                            <button class="btn btn-light btn-sm px-1 py-0" type="button">پرفروش ترین</button>
                        </section>


                        <section class="main-product-wrapper row my-4">

                            {% for product in products %}
                            <section class="col-md-3 p-0">
                                <section class="product">
                                    <section class="product-add-to-cart"><a href="#" data-bs-toggle="tooltip" data-bs-placement="left" title="" data-bs-original-title="افزودن به سبد خرید" aria-label="افزودن به سبد خرید"><i class="fa fa-cart-plus"></i></a></section>
                                    <section class="product-add-to-favorite"><a href="#" data-bs-toggle="tooltip" data-bs-placement="left" title="" data-bs-original-title="افزودن به علاقه مندی" aria-label="افزودن به علاقه مندی"><i class="fa fa-heart"></i></a></section>
                                    <a class="product-link" href="{% url 'products_detail' slug=product.slug %}">
                                        <section class="product-image">
                                            {% if product.image %}
                                        {% thumbnail product.image "200x200" crop="center" as im %}
                                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" >
                                        {% endthumbnail %}
                                        {% endif %}
                                        </section>
                                        <section class="product-colors"></section>
                                        <section class="product-name"><h3>{{ product.short_body }}</h3></section>
                                        <section class="product-price-wrapper">
                                            <section class="product-price">{{product.price | price}}</section>
                                        </section>
                                    </a>
                                </section>
                            </section>
                            {% endfor %}


                            <section class="col-12">
                                <section class="my-4 d-flex justify-content-center">
                                    <nav>
                                        <ul class="pagination">
                                          
                                            {% if page_obj.has_previous %}
                                            	<li class="page-item">
                                                <a class="page-link" onclick="page({{ page_obj.previous_page_number }})" aria-label="Previous">
                                                    <span aria-hidden="true">«</span>
                                                </a>
                                            </li>
                                            {% endif %} 
                                            
                                              {% for foo in paginator.page_range %}
                                            	<li class="page-item"><a class="page-link" onclick="page({{ foo }})">{{ foo }}</a></li>
                                            {% endfor %}
                                            
                                      {% if page_obj.has_next %}
                                      	     <li class="page-item">
                                                <a class="page-link" onclick="page({{ page_obj.next_page_number }})" aria-label="Next">
                                                    <span aria-hidden="true">»</span>
                                                </a>
                                            </li>
                                      {% endif %} 
                                       
                                        </ul>
                                    </nav>
                                </section>
                            </section>

                        </section>


                    </section>
                </main>
            </section>
        </section>
    </section>
{% endblock %}